body {
  max-width: 960px;
  margin: 0 auto !important;
}

.invoice-header {
  width: 100%;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.customer-name {
  font-size: 2em;
  font-weight: 700;
}

.inline-input {
  border: 0;
  width: 90%;
  display: inline;
  padding: 0;
}

.inline-input:active, .inline-input:focus {
  border: 0;
  outline: none;
}

.only-print {
  display: none;
}

@media print {
  .no-print {
    display: none;
  }

  .only-print {
    display: block;
  }
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: 700;
}

.MuiDataGrid-footerContainer {
  display: none;
}

.totals td {
  width: 50%;
}